<div class = "odv_page_width" style = "background:black; border-radius: 20px 20px 0 0 ; overflow:hidden;">
  <div class = "odv_benefits_container">
    <div class = "odv_benefits_col">
      <svg aria-hidden="true" focusable="false" role="presentation" class=" odv_icon icon icon-basket-return" viewBox="0 0 24 24"><g stroke="#000" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18.75h-3.75v3.75m11.417-3.017a5.572 5.572 0 01-10.74-.733m7.573-3h3.75V12m-11.417 3.017a5.572 5.572 0 0110.74.733"></path><path d="M7.875 17.25H4.314a1.441 1.441 0 01-1.383-1.136l-2.138-9A1.484 1.484 0 012.176 5.25h18.148a1.484 1.484 0 011.383 1.864l-.3 1.256M3.75 5.25l4.5-4.5m10.5 4.5L14.25.752"></path></g></svg>
      <div class = "odv_benefits_text_content">
        <div class = "odv_benefits_title_container">
          <div class = "odv_subtitle ">{{ section.settings.title1 }}</div>
        </div>  
        <div class = "odv_text">{{ section.settings.subtitle1 }}</div>
      </div>
    </div>
    <div class = "odv_benefits_col">
      <svg aria-hidden="true" focusable="false" role="presentation" class="odv_icon icon icon-award" viewBox="0 0 24 24"><g stroke="#000" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M12 6.75a8.25 8.25 0 110 16.5 8.25 8.25 0 010-16.5z"></path><path d="M12.531 10.292l1.248 2.458h2.127a.582.582 0 01.419 1l-1.953 1.922 1.082 2.485a.59.59 0 01-.839.737L12 17.419 9.385 18.89a.589.589 0 01-.839-.737l1.082-2.485-1.953-1.922a.582.582 0 01.419-1h2.127l1.249-2.458a.6.6 0 011.061.004zm4.719-1.656l3-7.886H3.75l3 7.886m3.38-1.673L9 .75m4.87 6.213L15 .75"></path></g></svg>
      <div class = "odv_benefits_text_content">
        <div class = "odv_benefits_title_container">
          <div class = "odv_subtitle ">{{ section.settings.title2 }}</div>
        </div>
        <div class = "odv_text">{{ section.settings.subtitle2 }}</div>
      </div>
    </div>
    <div class = "odv_benefits_col">
      <svg aria-hidden="true" focusable="false" role="presentation" class="odv_icon icon icon-phone" viewBox="0 0 24 24"><g stroke="#000" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4.285 2.24h-.011A4.5 4.5 0 00.75 6.635v.89a1.5 1.5 0 001.5 1.5H6a1.5 1.5 0 001.5-1.5 1.5 1.5 0 011.5-1.5h6a1.5 1.5 0 011.5 1.5 1.5 1.5 0 001.5 1.5h3.75a1.5 1.5 0 001.5-1.5v-.89a4.5 4.5 0 00-3.524-4.393h-.011a40.594 40.594 0 00-15.43-.002zm-.535 9.785v6a4.5 4.5 0 004.5 4.5h7.5a4.5 4.5 0 004.5-4.5v-6m-12.375 1.5"></path><path d="M7.875 13.525a.375.375 0 10.375.375.375.375 0 00-.375-.375m4.125 0a.375.375 0 10.375.375.375.375 0 00-.375-.375m4.125 0a.375.375 0 10.375.375.375.375 0 00-.375-.375m-8.25 3.75a.375.375 0 100 .75.375.375 0 000-.75m4.125 0a.375.375 0 100 .75.375.375 0 000-.75m4.125 0a.375.375 0 100 .75.375.375 0 000-.75"></path></g></svg>
      <div class = "odv_benefits_text_content">
        <div class = "odv_benefits_title_container">
          <div class = "odv_subtitle ">{{ section.settings.title3 }}</div>
        </div>
        <div class = "odv_text">{{ section.settings.subtitle3 }}</div>
      </div>
    </div>
    <div class = "odv_benefits_col">
      <svg aria-hidden="true" focusable="false" role="presentation" class="odv_icon icon icon-shipment" viewBox="0 0 24 24"><g stroke="#000" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M.766 13.222l2.937 1.487M.86 9.234l2.812 1.506M2.045 5.918l1.689 1.041m7.125-1.808l8.25 4.215m-5.047-5.852L7.874 6.676a2.113 2.113 0 00-1.14 1.885v6.879a2.113 2.113 0 001.141 1.885l6.187 3.161a2.022 2.022 0 001.845 0l6.187-3.161a2.112 2.112 0 001.14-1.885V8.561a2.11 2.11 0 00-1.14-1.885l-6.187-3.162a2.028 2.028 0 00-1.845 0z"></path><path d="M22.908 7.425l-7.924 4.048-7.923-4.048m7.923 4.048v9.236m4.125-11.343v2.912"></path></g></svg>
      <div class = "odv_benefits_text_content">
        <div class = "odv_benefits_title_container">
          <div class = "odv_subtitle">{{ section.settings.title4 }}</div>
        </div>
        <div class = "odv_text">{{ section.settings.subtitle4 }}</div>
      </div>
    </div>  
    </div>
  </div>
</div>

<style>
  .odv_icon g{
    stroke: #2A98EA;
}
    .odv_icon {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
    fill: currentColor;
}
  
.odv_benefits_col {
    color: white;
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
  width: 100%;
}

.odv_benefits_text_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.odv_benefits_title_container {
    display: flex;
    align-items: center;
    justify-content: left;
}
.odv_benefits_container {
    display: grid;
    max-width: 1600px;
  margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    padding: 5rem 3rem;
    gap: 5rem;
    background: black;
    justify-items: center;
}


@media (min-width: 768px) and (max-width: 1024px){
  .odv_icon {
    width: 2.5rem;
    height: 2.5rem;
}

  
.odv_benefits_container {
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 25px 25px;
    gap: 30px;
    background: black;
    justify-items: unset;
    border-radius: 30px 30px 0 0;
}
.odv_benefits_col {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
}
@media (max-width: 767px){
.odv_icon {
    width: 2.5rem;
    height: 2.5rem;
}

.odv_benefits_container {
    flex-direction: column;
    padding: 25px 15px;
    gap: 30px;
    display: flex;
    border-radius: 30px 30px 0 0;
}
.odv_benefits_col {
    gap: 20px;
}




}
</style>
{% schema %}
  {
    "name": "odv-benefits",
    "settings": [

      {
        "type": "text",
        "id": "title1",
        "label": "Title Column 1"
      },
      {
        "type": "text",
        "id": "subtitle1",
        "label": "Subtitle Column 1"
      },

      {
        "type": "text",
        "id": "title2",
        "label": "Title Column 2"
      },
      {
        "type": "text",
        "id": "subtitle2",
        "label": "Subtitle Column 2"
      },

      {
        "type": "text",
        "id": "title3",
        "label": "Title Column 3"
      },
      {
        "type": "text",
        "id": "subtitle3",
        "label": "Subtitle Column 3"
      },

      {
        "type": "text",
        "id": "title4",
        "label": "Title Column 4"
      },
      {
        "type": "text",
        "id": "subtitle4",
        "label": "Subtitle Column 4"
      }  
    ],
    "presets": [
      {
        "name": "odv-benefits"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}